body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: #141414;
  --secondary: white;
  --tertiary: #838383;
  --accent: #ffd700;
}

/*NAV*/
nav {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  height: 75px;
  width: 100vw;
  z-index: 99;
  box-shadow: 0px 11px 42px 50px rgba(20, 20, 20, 1);
}

#nav-logo {
  color: var(--secondary);
  padding: 0 20px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: var(--secondary);
  list-style-type: none;
  padding: 0 20px;
}

/*HOME*/
.home-page {
  background-color: var(--primary);
}

.home-page-container {
  margin: auto;
}

.home-page-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}

.home-page-body > * {
  padding: 0;
  margin: 0;
}

#home-page-header {
  font-size: 50px;
  margin: 40px 0;
}

#home-page-header,
.home-page-body {
  color: var(--secondary);
}

/*spotify button*/

.spotify-btn {
  background-color: #1db954;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 16px 14px 18px;
  border-radius: 500px;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
  width: 175px;
  margin-bottom: 10px;
}

.spotify-btn:hover {
  background-color: #1ed760;
  transition-duration: 0.3s;
}

.spotify-why {
  margin-top: 10px;
  color: var(--tertiary);
  cursor: default;
}

.spotify-why:hover {
  color: (var(--secondary));
}

.spotify-why:hover ~ .info-popout {
  display: block;
}

/*info popout*/
.info-popout {
  width: 300px;
  display: none;
}

.info-popout > div {
  padding-top: 20px;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--secondary);
}

.info-popout > p {
  padding: 15px;
  margin: 0;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
}

/*SEARCH*/
/*searchbar*/
.searchbar-area {
  background-color: var(--secondary);
  width: 50%;
  height: 40px;
  border-radius: 500px;
  padding: 15px;
  margin: auto;
  border: none;
  display: grid;
  grid-template-columns: 1fr 12fr;
}

#searchbar {
  height: 40px;
  width: 100%;
  font-size: 20px;
  color: var(--primary);
  border: none;
}

#searchbar:focus {
  outline: none;
}

.search-icon {
  color: var(--primary);
  font-size: 40px;
  transform: rotate(-45deg);
  height: 40px;
  width: 40px;
  margin: 0;
  line-height: 40px;
}

/*checkboxes*/
.filter {
  margin: auto;
  margin-top: 20px;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox-container > input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  background-color: var(--primary);
}

.checkbox-container:hover input:not(:checked) ~ .checkbox,
.checkbox-container:hover input:checked ~ .checkbox {
  background-color: var(--tertiary);
  border: 1px solid var(--secondary);
}

.checkbox-container input:not(:checked) ~ .checkbox {
  background-color: var(--primary);
  border: 1px solid var(--tertiary);
}

.checkbox-container input:checked ~ .checkbox {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}

.results-div {
  background-color: var(--primary);
  margin-top: 100px;
  width: 100vw;
}

/*loader*/
.loader {
  width: 75px;
  height: 75px;
  margin: 100px auto;
  background-color: var(--tertiary);

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0%,
  20% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0%,
  20% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

#no-results,
#no-results-text {
  color: var(--tertiary);
}

#no-results {
  height: 75px;
  width: 75px;
  border: 3px solid var(--tertiary);
  border-radius: 50%;
  font-size: 50px;
  line-height: 75px;
  margin: auto;
}

/*SEARCH RESULT*/

.search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.search-result {
  max-height: 300px;
  min-height: 300px;
  max-width: 300px;
  min-width: 300px;
  margin: 20px;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.search-result-inner {
  margin: auto;
  width: 210px;
  animation: fadein 1s;
  transition: all 0.5s ease-out;
}

.search-result-inner:hover {
  cursor: pointer;
  transition: all 0.5s ease-out;
  transform: scale(1.1);
}

.search-result-img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  object-fit: cover;
  margin: auto;
}

.search-result-info {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.search-result-title,
.search-result-subtitle {
  margin: auto;
  /* margin: 2px; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
}

.search-result-title {
  font-weight: bold;
  max-height: 1rem;
}

.search-result-subtitle {
  color: var(--tertiary);
}

.search-result-type {
  margin: auto;
  color: var(--tertiary);
}
